@import '../../scss/main.scss';

.member-current {
  @include page-style;

  &__member-container {
    @include container-style(135rem, 0, 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      line-height: 150%;

      & > img {
        aspect-ratio: 252/332;
        object-fit: cover;
        background: $color-gray;
        width: 25.2rem;
        margin: 0 auto 3.4rem;
        display: block;

        &.full-width {
          aspect-ratio: unset;
          width: 100%;
          border-radius: 0.8rem;
        }
      }

      & > div,
      ol {
        padding: 3.3rem;
        background: $color-blue;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;

        ul {
          margin-left: 3rem;
        }

        &:not(:last-child) {
          margin-bottom: 10rem;
        }
      }

      & > ol {
        li {
          margin-left: 2rem;
        }
      }

      &__publication {
        display: flex;
        flex-wrap: wrap;
        line-height: 140%;

        a {
          text-decoration: underline;

          &:not(:last-child) {
            margin-right: 1rem;

            &::after {
              content: '|';
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .member-current {
    &__member-container {
      .content {
        & > img {
          width: 24rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .member-current {
    &__member-container {
      .content {
        font-size: 1.8rem;

        & > img {
          width: 22rem;
          margin-bottom: 2.5rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .member-current {
    &__title {
      &.sub {
        margin-bottom: 2.5rem;
      }

      &.long {
        margin-bottom: 2rem;
      }
    }

    &__member-container {
      .content {
        font-size: 1.7rem;

        & > img {
          width: 20rem;
        }

        &__publication {
          div {
            display: flex;
            flex-wrap: wrap;
          }

          a {
            white-space: nowrap;
          }
        }

        & > div,
        ol {
          &:not(:last-child) {
            margin-bottom: 7rem;
          }
        }
      }
    }
  }
}
