@import '../../scss/main.scss';

.member-current {
  background-image: url('../../backgrounds/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &__title {
    height: 16.8rem;
    max-width: 90%;
    margin: 0 auto 3.5rem;
    display: block;
  }

  &__member-container {
    @include container-style(135rem, 0, 8rem);

    .content {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      line-height: 150%;

      & > img {
        aspect-ratio: 252/332;
        object-fit: cover;
        background: $color-gray;
        width: 25.2rem;
        margin: 0 auto 3.4rem;
        display: block;

        &.full-width {
          aspect-ratio: unset;
          width: 100%;
        }
      }

      & > div {
        padding: 3.3rem;
        background: $color-blue;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;

        ul {
          margin-left: 3rem;
        }

        &:not(:last-child) {
          margin-bottom: 10rem;
        }
      }

      &__publication {
        display: flex;

        &.padding-left {
          padding-left: 1.9rem;
        }

        a {
          text-decoration: underline;

          &:not(:last-child) {
            margin-right: 1rem;

            &::after {
              content: '|';
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .member-current {
    &__title {
      height: 15rem;
    }

    &__member-container {
      .content {
        & > img {
          width: 24rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .member-current {
    &__title {
      height: 12rem;
    }

    &__member-container {
      .content {
        font-size: 1.8rem;

        & > img {
          width: 22rem;
          margin-bottom: 2.5rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .member-current {
    &__title {
      height: 10rem;
    }

    &__member-container {
      .content {
        font-size: 1.6rem;

        & > img {
          width: 20rem;
        }

        &__publication {
          div {
            display: flex;
            flex-wrap: wrap;
          }

          a {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
