@import '../../scss/main.scss';

.activity {
  @include page-style;

  &__modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: $color-blue, $alpha: 0.7);
    z-index: 1;

    .modal {
      border: 3rem solid $color-gray;
      border-radius: 1rem;
      position: relative;

      img {
        height: 85vh;
        max-width: 80vw;
      }

      .close-btn {
        position: absolute;
        top: -1.7rem;
        right: -2.9rem;

        &:hover {
          cursor: pointer;
        }

        .line {
          background: #61646b;
          width: 3rem;
          height: 0.3rem;

          &.slash {
            transform: rotate(45deg);
            position: relative;
            top: 0.3rem;
          }

          &.back-slash {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  &__container {
    @include container-style(170rem, 0, 8rem);

    .content {
      display: flex;
      column-gap: 3rem;
      overflow: auto;

      &:hover {
        cursor: pointer;
      }

      &:active {
        cursor: grabbing;
      }

      .activity-card {
        border: 2rem solid $color-gray;
        border-radius: 2rem;
        height: 61.5rem;
        width: min-content;
        background: $color-gray;
        display: flex;
        flex-direction: column;

        img {
          height: 100%;

          &.short {
            height: 52.5rem;
          }
        }

        p,
        a {
          font-style: italic;
          font-weight: 600;
          font-size: 1.6rem;
          color: $color-blue;
          margin-top: 1rem;

          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .activity {
    &__modal-container {
      .modal {
        img {
          height: unset;
        }
      }
    }
  }
}
