@import '../../scss/main.scss';

.project {
  @include page-style;

  &__container {
    @include container-style(135rem, 0, 8rem);

    .content {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      line-height: 150%;

      & > div {
        padding: 3.3rem;
        background: $color-blue;
        border-radius: 1rem;

        &:not(:last-child) {
          margin-bottom: 6.4rem;
        }

        p {
          margin-bottom: 0.8em;
        }

        li {
          margin-left: 2rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .project {
    &__container {
      .content {
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .project {
    &__container {
      .content {
        font-size: 1.7rem;

        & > div {
          &:not(:last-child) {
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}
