@import './scss/variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-raleway;
  box-sizing: border-box;
  max-width: 192rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

a,
button,
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
