@import './variables';

@mixin container-style($content-width, $padding-container-vertical, $padding-container-bottom: 0) {
  padding: $padding-container-vertical $padding-container-horizontal;
  display: flex;
  justify-content: center;

  @if ($padding-container-bottom > 0) {
    padding-bottom: $padding-container-bottom;
  }

  & > div {
    width: 100%;
    max-width: $content-width;
  }
}

@mixin page-style {
  background-image: url('../../backgrounds/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &__title {
    height: 16.8rem;
    max-width: 90%;
    margin: 0 auto 3.5rem;
    display: block;

    @media (max-width: 960px) {
      height: 15rem;
    }

    @media (max-width: 768px) {
      height: 12rem;
    }

    @media (max-width: 500px) {
      height: 10rem;
    }
  }
}

@mixin admin-page-style {
  &__title {
    margin: 5.5rem 0 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 2.4rem;
    color: $color-blue;
  }
}

@mixin admin-section-style {
  @include container-style(130rem, 0);
  margin: 6rem 0;

  &__title {
    font-weight: 600;
    font-size: 2rem;
    color: $color-blue;
    margin-bottom: 2.5rem;
  }

  &__confirm-btn {
    background: $color-red;
    border-radius: 0.8rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: white;
    padding: 1rem 3.8rem;

    &:disabled {
      background: $color-gray;

      &:hover {
        cursor: wait;
      }
    }
  }
}

@mixin admin-card-style {
  border: 0.2rem solid rgba($color-blue, $alpha: 0.7);
  border-radius: 0.8rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  &__title {
    font-weight: 600;
    font-size: 2rem;
    color: $color-blue;
  }
}
